*.o
*.exe
*.json
*.pyc
*.png
test.ipynb

src/cmp/tools/*
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.pytest_cache/*
*/.vscode/*
*/.mypy_cache/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.coverage
src/cmp/tools/automata.py
src/cmp/tools/evaluation.py
src/cmp/tools/parsing.py
src/cmp/tools/regex.py
test.hulk
